<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<p>
  <b>Name:</b>
  <%= @recipe.name %>
</p>

<p>
  <b>Submitted By:</b>
  <%= get_user_name(@recipe.user_id) %>
</p>

<p>
  <b>Ingredients:</b>
  <%= simple_format(@recipe.ingredients).gsub("\n", "<br />").html_safe %>
</p>

<p>
  <b>Instructions:</b>
  <%= @recipe.instructions %>
</p>

<p>
   <% if @recipe.data %>
     <img src="<%= picture_recipe_path(@recipe.id) %>">
   <% end %>
</p>

<p>
	<b>Ratings:</b>
	<%= link_to 'View Ratings', recipe_ratings_path(@recipe) %>
</p>

<% if session[:user_id] %>
  <% if session[:user_id] == @recipe.user_id %>
    <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
  <% end %>
<% end %>
<%= link_to 'Back', recipes_path %>
